@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{background: url('../img/fundo-logo.jpg') no-repeat fixed; background-size: cover; font-family: 'Open Sans', Arial, cursive; font-size: 13px;}
img{max-width: 100%;}

.topo-login{background: url('../img/fundo-topo-login.png') no-repeat -160px; }

.well, .well-lg{border: none !important; background: transparent !important; box-shadow: none;}

.logo{padding: 25px 0px;}
.txt-topo{padding: 10px 15px;}

.rodape-login{position: fixed; bottom: 0px; width: 100%; padding-top: 5px; background: url('../img/rodape-logo.png');}

.logo-markp{position: fixed; bottom: 15px; right: 30px;}
.solucao{position: fixed; bottom: 50px; right: 30px;}

.tela-login{position: absolute; top: 50%; left: 0px; width: 100%; height: 230px; margin-top: -115px; background: url('../img/rodape-logo.png'); display: none; }

.box-login, .box-esqueci{position: absolute; top: 50%; left: 50%; width: 350px; height: 170px; margin-top: -85px; margin-left: -175px; background: #f9f9f9; border-radius: 10px; padding: 5px 10px;}

.box-login p, .box-esqueci p{padding: 10px 20px;}

.box-esqueci{display: none;}

.campos-login{background: #6d6e71; color: #fff; padding: 2px 5px; border: none; float: right; width: 80%;}
.btn{background: #84993b; color: #fff; border: 1px solid #fff; float: right; padding: 4px 10px; border-radius: 0px;}
.btn:hover{color: #fff;}
.esqueci, .logar{margin-left: 57px; font-size: 10px; color: #761746; cursor: pointer;}

.redes-sociais{list-style: none; padding: 0px; margin: 0px;}
.redes-sociais li{display: inline-table; margin: 20px 5px;}

.chama-login{cursor: pointer;}